<div class="container">
  <div class="row">
    <div class="col col-12">
      <!-- begin header -->
      <header class="header">

        <div class="logo">
          <a class="logo__link" href="{{site.baseurl}}/">
          {%if site.data.settings.logo %}
            <img class="logo__image" src="{{ site.baseurl }}/images/{{ site.data.settings.logo }}" alt="{{ site.data.settings.title }}">
          {% else %}
            {{ site.data.settings.title }}
          {% endif %}
          </a>
        </div>

        <nav class="main-nav">

          <div class="main-nav__box">
            <div class="nav-icon__close">
              <i class="ion ion-ios-close-circle-outline"></i>
            </div>

            <div class="nav__title">Menu</div>

            <ul class="nav__list list-reset">
              <li class="nav__item">
                <a href="{{site.baseurl}}/" class="nav__link">Home</a>
              </li>
              <li class="nav__item">
                <a href="/category/#在日見聞" class="nav__link">在日見聞</a>
              </li>
              <li class="nav__item">
                <div class="dropdown">
                  <button class="dropbtn nav__link">
                    <a style="color: inherit;" href="/category/#遊記">遊記</a>
                  </button>
                  <div class="dropdown-content">
                    <a href="/tag/北海道">北海道</a>
                    <a href="/tag/東北">東北地區</a>
                    <p>—— 關東 ——</p>
                    <a href="/tag/東京">東京</a>
                    <a href="/tag/關東非東京">與東京以外</a>
                    <a href="/tag/中部">中部地區</a>
                    <p>—— 近畿 ——</p>
                    <a href="/tag/京都">京都</a>
                    <a href="/tag/大阪">大阪</a>
                    <a href="/tag/關西非京阪">與京阪以外</a>
                    <a href="/tag/山陰山陽">山陰山陽</a>
                    <a href="/tag/四國">四國</a>
                    <a href="/tag/九州">九州與沖繩</a>
                  </div>
                </div>
              </li>
              {% for page in site.pages %}
                {% unless page.name == 'tags.html' or page.name == '404.html' or page.display == false %}
              {% if page.title %}
              <li class="nav__item">
                <a href="{{ page.url | prepend: site.baseurl }}" class="nav__link">{{ page.title }}</a>
              </li>
              {% endif %}
                {% endunless %}
              {% endfor %}
            </ul>

          </div>
        </nav>

        <div class="nav-buttons">
          <i class="nav__icon nav__icon-menu ion ion-md-menu" aria-label="Menu Icon"></i>
          <i class="nav__icon nav__icon-search ion ion-md-search" aria-label="Search Icon"></i>
        </div>

        <div class="header__overlay"></div>
      </header>
      <!-- end header -->
    </div>
  </div>
</div>